@font-face{
  font-family: 'Rubik-Medium' ;
  font-size: 500;
  font-style: normal;
  src: local('Rubik-Medium'),
  url('../fonts/Rubik-Medium') format('woff2'),
  url('../fonts/Rubik-Medium') format('woff');
  font-display: swap;
}
@font-face{
  font-family: 'Rubik-Regular' ;
  font-size: 400;
  font-style: normal;
  src: local('Rubik-Regular'),
  url('../fonts/Rubik-Regular') format('woff2'),
  url('../fonts/Rubik-Regular') format('woff');
  font-display: swap;
}
@font-face{
  font-family: 'DMSans-Bold' ;
  font-size: 700;
  font-style: normal;
  src: local('DMSans-bold'),
  url('../fonts/DMSans-bold') format('woff2'),
  url('../fonts/DMSans-bold') format('woff');
  font-display: swap;
}
@font-face{
  font-family: 'DMSans-Medium' ;
  font-size: 500;
  font-style: normal;
  src: local('DMSans-Medium'),
  url('../fonts/DMSans-Medium') format('woff2'),
  url('../fonts/DMSans-Medium') format('woff');
  font-display: swap;
}
@font-face{
  font-family: 'DMSans-Regular' ;
  font-size: 400;
  font-style: normal;
  src: local('DMSans-Regular'),
  url('../fonts/DMSans-Regular') format('woff2'),
  url('../fonts/DMSans-Regular') format('woff');
  font-display: swap;
}