@font-face{
  font-family: 'Rubik-Medium' sans-serif;
  font-size: 500;
  font-style: normal;
  src: local('Rubik-Medium'),
  url('../fonts/Rubik-Medium') format('woff2'),
  url('../fonts/Rubik-Medium') format('woff');
  font-display: swap;
}